{% extends "base.html" %}
{% block title %}Services{% endblock title %}
{% block body %}

<div class="container my-5">
    <h4 class="text-center mb-3" style="color:black; font-weight:bold">Welcome to Lord Krishna Catering</h4>
    <h6 class="text-center mb-3" style="color:green;">Here is some Categories that you have to look it</h6>
    <p class="text-center mb-5" style="color:orange; font-weight:600">I hope you liked it.So contact Us for Query and Book Your Order</p>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/imges/service1.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://drive.google.com/drive/folders/1yVcVhlCWPNTzFbtHVzmxSmAfyJ2LDEMa?usp=sharing" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/imges/service2.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://drive.google.com/drive/folders/1yVcVhlCWPNTzFbtHVzmxSmAfyJ2LDEMa?usp=sharing" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/imges/service3.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://drive.google.com/drive/folders/1yVcVhlCWPNTzFbtHVzmxSmAfyJ2LDEMa?usp=sharing" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/imges/service4.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://drive.google.com/drive/folders/1yVcVhlCWPNTzFbtHVzmxSmAfyJ2LDEMa?usp=sharing" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/imges/service5.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://drive.google.com/drive/folders/1yVcVhlCWPNTzFbtHVzmxSmAfyJ2LDEMa?usp=sharing" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/imges/service6.jpeg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://drive.google.com/drive/folders/1yVcVhlCWPNTzFbtHVzmxSmAfyJ2LDEMa?usp=sharing" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/imges/service7.jpeg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://drive.google.com/drive/folders/1yVcVhlCWPNTzFbtHVzmxSmAfyJ2LDEMa?usp=sharing" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/imges/service8.jpeg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://drive.google.com/drive/folders/1yVcVhlCWPNTzFbtHVzmxSmAfyJ2LDEMa?usp=sharing" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/imges/service9.jpeg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://drive.google.com/drive/folders/1yVcVhlCWPNTzFbtHVzmxSmAfyJ2LDEMa?usp=sharing" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock body %}